.app-header {
  background-color: #263238;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}

.logo {
  margin-left: 24px;
  color: white;
  align-self: center;
  font-size: 18px;
}

.search {
  align-self: center;
  border-radius: 4px;
  width: 300px;
  display: flex;
  flex-direction: row;
  background-color: #c0c0c0;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
}

.hovering {
  cursor: pointer;
}

.icon-button {
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
