.app-header {
  background-color: #263238;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin-left: 24px;
  color: white;
  align-self: center;
  font-size: 18px;
}

.search {
  align-self: center;
  border-radius: 4px;
  width: 300px;
  background-color: #c0c0c0;
  padding: 5px;
}
